{
  "env": {
    "es2021": true,
    "node": true
  },
  "extends": [
    "airbnb-base",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/typescript",
    "plugin:prettier/recommended",
    "plugin:security/recommended",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "tsconfig.json",
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": [
    "@typescript-eslint/eslint-plugin",
    "eslint-plugin-import-order-alphabetical",
    "security",
    "simple-import-sort"
  ],
  "root": true,
  "rules": {
    "class-methods-use-this": "off",
    "import/extensions": ["error", "never"],
    "import/first": "error",
    "import/newline-after-import": "error",
    "import/no-duplicates": "error",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": ["**/*.test.ts", "**/*.spec.ts", "**/*.e2e-spec.ts"]
      }
    ],
    "import/order": ["error", { "newlines-between": "always" }],
    "import/prefer-default-export": "off",
    "max-lines": ["error", 300],
    "no-console": "off",
    "no-useless-constructor": "off",
    "simple-import-sort/exports": "error"
  },
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts"]
    },
    "import/resolver": {
      "typescript": {}
    }
  }
}
