# compiled output
/dist
/node_modules

.husky/
.next/

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# lock
package-lock.json
yarn.lock
pnpm-lock.yaml

# testing
coverage/
test-report.html

# config files
jest.config.js
tsconfig.json
